/*--------------------------------- main css --------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #080122 50%, #353232);
}
.logo {
  padding: 10px;
}
.logo a {
  font-size: 36px;
  font-family: "Dancing Script", cursive;
  color: white;
  text-decoration: none;
}
header {
  margin: 0 auto;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 20px;
  margin: 0 5px;
}
ul {
  display: flex;
}
ul li {
  display: inline-block;
  list-style: none;
  font-size: 25px;
  padding: 15px;
}
ul li a {
  padding: 10px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: white;
}
ul li a:hover {
  color: rgb(200, 200, 200);
}
section,
.container {
  text-align: center;
  padding: 250px 20px;
  margin: 0 auto;
}
section p {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 55px;
  margin-bottom: 20px;
}
button {
  border: none;
  border-radius: 20px;
  background-color: rgb(253, 238, 103);
  transition: background 0.5s;
  padding: 10px;
  box-shadow: 2px 2px 19px 1px;
}
button:hover {
  background-color: white;
}
button a {
  text-decoration: none;
  color: #1c1c1a;
  font-size: 20px;
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
}
article {
  padding: 200px 20px;
  text-align: center;
  margin: 0 auto;
}
article p {
  font-size: 36px;
  color: white;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 30px;
}
footer {
  font-size: 13px;
  display: block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  color: white;
}
h1 {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  margin-bottom: 20px;
}
img {
  height: 100px;
  width: 100px;
  margin: 10px;
}
img:hover {
  opacity: 70%;
}
::-webkit-scrollbar {
  display: none;
}
/*---------------------------for large devices ---------------------*/
@media (min-width: 1200px) {
  header,
  article {
    width: 1170px;
  }
}
/* -----------------------for medium devices ----------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  header,
  article {
    width: 992px;
  }
}
/* ------------------------for small devices---------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  header,
  article {
    width: 750px;
  }
}
/* ---------------------------for mobiles---------------------- */
@media (max-width: 768px) {
  .logo a {
    font-size: 30px;
  }
  ul li {
    font-size: 23px;
  }
  section p {
    font-size: 40px;
  }
  img {
    height: 80px;
    width: 80px;
  }
}
/*--------------------  for small mobiles--------------------- */
@media (max-width: 350px) {
  .logo a {
    font-size: 25px;
  }
  ul li {
    font-size: 20px;
  }
  section p {
    font-size: 30px;
  }
  h1 {
    font-size: 35px;
  }
  img {
    height: 80px;
    width: 80px;
  }
  .container {
    text-align: center;
    padding: 140px 20px;
  }
  section {
    text-align: center;
    padding: 200px 20px;
  }
  div p {
    font-size: 25px;
  }
}
