/*--------------------------------- main css --------------------------------*/
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(45deg, #080122 50%, #353232);
  height: 100%;
}
.logo a img {
  width: 65px;
  margin-top: 18px;
  margin-left: 0px;
}

header {
  margin: 0 auto;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 0 20px;
  margin: 0 5px;
}
ul {
  display: flex;
  padding-top: 5px;
}
ul li {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 25px;
  padding: 15px;
}
ul li a {
  text-decoration: none;
}
ul li a img {
  display: none;
}
ul li a span {
  position: relative;
  padding: 10px;

  font-family: "Nunito", sans-serif;
  color: white;
}
ul li a span::after {
  position: absolute;
  bottom: 5px;
  left: 50%;
  content: "";
  width: 0%;
  border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
  background-color: white;
  height: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
ul li a span:hover::after {
  width: 80%;
  left: 10px;
}
section {
  border-radius: 20px;
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
  box-shadow: 0 0 20px 0px rgb(0, 0, 0);
  margin-top: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.squid {
  flex: 50%;
}
.squid img {
  flex: 50%;
  width: 300px;
  height: 300px;
  margin-top: -80px;
}
.secript {
  flex: 50%;
  text-align: left;
}
.secript p {
  margin-left: 99px;
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 55px;
}
button {
  border: none;
  border-radius: 20px;
  background-color: rgb(253, 238, 103);
  transition: background 0.5s;
  padding: 10px;
  margin-left: 40px;
  box-shadow: 2px 2px 19px 1px;
}
button:hover {
  background-color: white;
}
button a {
  text-decoration: none;
  color: #1c1c1a;
  font-size: 20px;
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
}
.container {
  text-align: center;
  padding: 250px 0;
  margin: 0 auto;
}
article {
  margin-top: 400px;
}
.space {
  height: 50px;
}
.about {
  text-align: center;
}
.about_title {
  position: relative;
  font-size: 50px;
  color: white;
  font-family: "Source Serif Pro", serif;
}
.about_title::after {
  position: absolute;
  content: "";
  background-color: rgb(253, 238, 103);
  bottom: -10px;
  left: 13%;
  width: 75%;
  height: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about_txt {
  padding: 80px 30px 135px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.about_txt p {
  position: relative;
  font-size: 36px;
  color: white;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 30px;
  background: linear-gradient(-45deg, #080122 30%, #353232);
  text-align: left;
  padding: 30px;
  box-shadow: 0 0 20px 0 black;
  line-height: 45px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.about_txt p img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 21px;
  left: 31px;
}
span {
  color: transparent;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
}
.foot {
  display: flex;
  flex: wrap row;
  justify-content: space-between;
  margin: 0 auto;
}
.foot2 {
  display: flex;
  flex: wrap row;
  justify-content: center;
  margin: 0 auto;
}
.foot button a {
  font-size: 18px;
}
.copyright {
  font-size: 16px;
  display: block;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
  padding: 10px;
  margin: auto 0;
}
.contact {
  color: white;
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
  margin-top: -40px;
  margin-bottom: 20px;
}
.container a img {
  margin: 25px;
  height: 100px;
  width: 100px;
  transition: opacity, transform 0.2s;
  -webkit-transition: opacity, transform 0.2s;
  -moz-transition: opacity, transform 0.2s;
  -ms-transition: opacity, transform 0.2s;
  -o-transition: opacity, transform 0.2s;
}
.container a img:hover {
  opacity: 90%;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.container a {
  text-decoration: none;
}

/*--------------------------- remove scrollbar---------------------- */
::-webkit-scrollbar {
  display: none;
}
/*---------------------------for large devices ---------------------*/
@media (min-width: 1200px) {
  header,
  .about_txt,
  section,
  .foot {
    width: 1170px;
  }
}
/* -----------------------for medium devices ----------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  header,
  .about_txt,
  .foot {
    width: 992px;
  }
  section {
    width: 950px;
    height: 450px;
  }
  .secript p {
    font-size: 45px;
  }
  .squid img {
    width: 250px;
    height: 250px;
  }
  .about_txt p {
    font-size: 30px;
  }
  .about_txt p img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 26px;
    left: 25px;
  }
}
/* ------------------------for small devices---------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  header,
  .about_txt,
  section,
  .foot {
    width: 750px;
  }
  .about_txt p {
    font-size: 25px;
  }
  .about_txt {
    padding: 80px 30px 150px;
  }
  section {
    width: 750px;
    height: 400px;
    padding-top: 150px;
  }
  .secript p {
    font-size: 40px;
    margin-left: 40px;
  }
  .squid img {
    width: 240px;
    height: 240px;
  }
  .secript button {
    margin-top: 20px;
  }
  .about_txt p {
    font-size: 25px;
    line-height: 32px;
  }
  .about_txt p img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 18px;
    left: 25px;
  }
}
/* ---------------------------for mobiles---------------------- */
@media (max-width: 768px) and (min-width: 360px) {
  nav ul {
    padding: 0;
  }
  ul {
    margin-top: 10px;
    height: 60px;
  }
  ul li {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 4%);
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
    box-shadow: 0 0px 8px 0 #262626;
  }
  nav ul li span {
    display: none;
  }
  nav ul li img {
    display: block;
    width: 45px;
  }
  .squid img {
    margin-bottom: px;
    width: 180px;
    height: 180px;
    margin-top: -45px;
    margin-bottom: 10px;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 80px;
    width: 90%;
    height: 400px;
    padding-top: 80px;
  }
  .secript p {
    font-size: 38px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
  }
  .logo a {
    font-size: 30px;
  }
  ul li {
    font-size: 23px;
  }
  section p {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .container {
    padding: 180px 0 225px 0;
  }
  .container a img {
    height: 80px;
    width: 80px;
    margin: 20px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
  .container a img:hover {
    opacity: 100%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  ul li a span::after {
    display: none;
  }
  .about_title {
    font-size: 45px;
  }
  .about_title::after {
    left: 17%;
    width: 65%;
    height: 8px;
  }
  .about_txt p {
    font-size: 23px;
    line-height: 35px;
  }
  .about_txt p img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 23px;
    left: 19px;
  }
  .about_txt {
    padding: 80px 30px 44px;
  }
  .foot button a {
    font-size: 14px;
  }
  .foot .copyright {
    font-size: 13px;
  }
  .secript button {
    width: fit-content;
    margin: 10px auto 0;
  }
}
/*--------------------  for small mobiles--------------------- */
@media (max-width: 360px) {
  .logo a img {
    width: 60px;
    height: 50px;
  }
  nav ul {
    padding: 0;
  }
  ul {
    margin-top: 10px;
    height: 50px;
  }
  ul li {
    display: flex;
    align-items: center;
    height: 60px;
    width: 75px;
    background-color: rgba(255, 255, 255, 4%);
    /* margin-top: 0px; */
    margin-left: 10px;
    border-radius: 37px;
    -webkit-border-radius: 37px;
    -moz-border-radius: 37px;
    -ms-border-radius: 37px;
    -o-border-radius: 37px;
    box-shadow: 0 0px 8px 0 #262626;
  }
  nav ul li a {
    margin-top: 10px;
  }
  nav ul li span {
    display: none;
  }
  nav ul li img {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 10%;
  }
  .contact {
    font-size: 35px;
  }
  .container a img {
    height: 70px;
    width: 70px;
    margin: 20px;
  }
  .container {
    padding: 80px 20px 40px;
  }
  .squid img {
    width: 160px;
    height: 160px;
    margin-top: -45px;
    margin-bottom: 10px;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 40px;
    width: 90%;
    height: 380px;
    padding-top: 80px;
  }
  .secript p {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
  }
  .secript {
    flex: 100%;
  }
  .secript button {
    width: fit-content;
    margin: 10px auto 0;
  }
  .logo a {
    font-size: 30px;
  }
  ul li {
    font-size: 23px;
  }
  section p {
    font-size: 40px;
  }
  a img {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
  .about_title {
    font-size: 40px;
  }
  .about_title::after {
    left: 17%;
    width: 65%;
    height: 8px;
  }
  .about_txt {
    padding: 80px 30px 40px;
  }
  .about_txt p {
    font-size: 20px;
    line-height: 25px;
  }
  .about_txt p img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 18px;
    left: 22px;
  }
  .foot button a {
    font-size: 12px;
  }
  .foot .copyright {
    font-size: 11px;
  }
  .container a img {
    height: 80px;
    width: 80px;
    margin: 20px;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
  .container a img:hover {
    opacity: 100%;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  ul li a span::after {
    display: none;
  }
}
